.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.panel{
  border: 3px solid black;
  border-left-color: lightgrey;
  border-top-color: lightgrey;
  background-color: grey;
  padding: 0%;
  width: 20px;
  height: 20px;
  float:right
}
.col{
  float: left
}
.mine{
  border: 3px solid yellow;
  border-left-color: lightgrey;
  border-top-color: lightgrey;
  background-color: black;
  padding: 0%;
  width: 20px;
  height: 20px;
  float:right
}
.neighbors{
  padding: 0%;
  margin: 0%;
  color: lime;
}
.timer {
  float: left;
  font-size: 250%;
}
.flag-count{
  float: right;
  font-size: 250%;
}
.game_board {
  max-width: 208px;
  max-height: 208px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
